@tailwind base;
@tailwind components;
@tailwind utilities;
.ql-toolbar {
  background-color: #f0f0f0;
  border-radius: 0.5rem 0.5rem 0 0;
}

#firstResume,#secondResume {
  width: 794px;
  margin: 0 auto;
}
@media print {
  #firstResume,#secondResume {
    width: 100%;
    margin: 0;
    padding: 20px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.error {
  border: 2px solid red; 
}
ul {
  list-style-type: inherit;
}
ol {
  list-style-type: decimal;
}

ul,ol{
  margin: 0;
  padding: 0;
}
#secondResume p {
  page-break-inside: avoid; /* Avoid splitting paragraphs across pages */
  margin-bottom: 10px;
}
#secondResume h1, #secondResume h2, .section {
  page-break-before: always;  /* Ensure these elements start on a new page */
  margin-top: 20px;
}
#secondResume table, .content-block {
  page-break-after: always;
}